@import './components/modules/Navbar/style.module.scss';


.footer {
  .content {
    .container {
    
      display: flex;
      justify-content: space-between;

      span{
        font-size: 2em;
        color: rgb(53, 53, 53);
        &:hover {
          i {
            color: rgb(1, 54, 138);
          }
        }
      }
    }
  }
}
