@import './components/modules/Navbar/style.module.scss';

.section-main-1{
  height: 100vh;
}

.footer {
  .content {
    .container {
      span{
        margin: auto 1em;
        font-size: 2em;
        color: rgb(53, 53, 53);
        &:hover {
          i {
            color: rgb(1, 54, 138);
          }
        }
      }
    }
  }
}
